<?php
/**
 * Doctrine-Encrypt-Module Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 *
 * You may want to define a different file for development / production
 */
return array(
    'doctrine' => array(
        'encryption' => array(
            'orm_default' => array(

                /**
                 * The adapter can be a reference to another service locator key or a Fully qualified class name.
                 * However, it must implement \Zend\Crypt\BlockCipher or
                 * DoctrineEncrypt\Encryptors\EncryptorInterface
                 *
                 * @see \Zend\Crypt\BlockCipher
                 * @see \DoctrineEncrypt\Encryptors\EncryptorInterface
                 */
                //'adapter' => \DoctrineEncryptModule\Factory\McryptAdapter::class,

                /**
                 * The reader will read encryption configuration information off of the entities
                 * You probably don't have to change this
                 */
                //'reader' => 'Doctrine\Common\Annotations\AnnotationReader',
            ),
        ),
    ),
);
