<?php
/**
 * Doctrine-Encrypt-Module Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 *
 * You may want to define a different file for development / production
 */

// This file should not be included into your VCS!

return array(
    'doctrine' => array(
        'encryption' => array(
            /**
             * The encryption key, insert here a randomly created key
             */
            'key' => '',

            /**
             * A encryption salt. See mcrypt_get_iv_size to know the min length of this string! Otherwise a exception
             * will be thrown.
             *
             * @link http://php.net/manual/en/function.mcrypt-get-iv-size.php
             */
            'salt' => '',
        ),
    ),
);
